
.title {
  font-size: 4rem;
  text-align: left;
}

.description {
  font-size: 3rem;
  text-align: left;
}

.card {
  width: 100%;
  height: auto;
  cursor: pointer;
  
}

.card:hover {
  color: rgba(255, 106, 0, 0.584) !important;
}

.pending {
  background-color: rgba(139, 123, 123, 0.267) !important;
}


