.container {
  width: 100% !important;
  max-width: 500px !important;
  justify-content: center !important;
  margin: 6.5px auto;
  padding: 20px 50px;
  background-color: white;
  border-radius: 15px;
}

.servicecontainer {
  display: flex;
  justify-content: space-between;
}

.pricecontainer {
  color: red;
  font-weight: 500;
}

.btncontainer {
  display: flex;
  justify-content: space-around;
}
