
.title {
  font-size: 4rem;
  text-align: left;
}

.description {
  font-size: 3rem;
  text-align: left;
}

.card {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.card:hover {
  color: rgba(255, 106, 0, 0.584) !important;
}

.pending {
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 117, 9) !important;
}

.pending1 {
  border-bottom-style: solid;
  border-bottom-color: rgb(245, 8, 0) !important;
}

.pending2 {
  border-bottom-style: solid;
  border-bottom-color: rgb(4, 0, 245) !important;
}

.pending3 {
  border-bottom-style: solid;
  border-bottom-color: rgb(107, 228, 8) !important;
}

.pending4 {
  border-bottom-style: solid;
  border-bottom-color: rgb(2, 195, 230) !important;
}

.pending5 {
  border-bottom-style: solid;
  border-bottom-color: rgb(153, 0, 255) !important;
}

.pending6 {
  border-bottom-style: solid;
  border-bottom-color: rgb(7, 87, 5) !important;
}



